.chameleonHeader__container-menu-title{
  font-family: var(--title-font-sec);
  color: var(--color-font);
  font-size: 2.5rem;
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}
@keyframes rainbow {
  100%, 0% {
    color: rgb(255, 255, 255);
  }
  8% {
    color: #F2FFF7;
  }
  16% {
    color: #BBFED2;
  }
  25% {
    color: #83F9A4;
  }
  33% {
    color: #49E96D;
  }
  41% {
    color: #14CC33;
  }
  50% {
    color: #07A318;
  }
  58% {
    color: #027907;
  }
  66% {
    color: #015000;
  }
  75% {
    color: #032600;
  }
  83% {
    color: #30d621;
  }
  91% {
    color: #8bc586;
  }
}