.chameleonFooter{
  /* background: rgb(2,121,7);
  background: linear-gradient(180deg, rgba(2,121,7,1) 10%, rgba(20,204,51,1) 100%); */
  background: rgb(2,121,7);
  background: linear-gradient(180deg, rgba(2,121,7,1) 7%, rgba(20,204,51,1) 38%);
  width: 100vw;
}